<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Circular Transactions</title>
    <link rel="stylesheet" href="./static/styles.css">
  </head>
  <body class="circular-transactions-page">
    <div class = "circular-transactions-page-heading">
      <h1>Circular Transactions in the dataset</h1>
    </div>
    <h3 class="subhead-text">List of Circular Transactions</h3>
    <ul>
      {% for cycle in cycles %}
        <li>{{ cycle }}</li>
      {% endfor %}
    </ul>
    
    <div class="upload-btn-wrapper">
      <button class="btn-circular">Upload CSV</button>
      <input type="file" name="csvFile" accept=".csv">
  </div>
  <p><a href="/">
    <img class = "home" src = "./static/images/home.svg"/>
  </a></p>
  </body>
</html>
