<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction Spikes</title>
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body>
    <div class = "circular-transactions-page-heading">
        <h1>Sudden Spikes</h1>
    </div>
    <div class = "graph-container">       
        <img class = "graph" src="{{ url_for('static', filename='transaction_spikes.png') }}" alt="Transaction Spikes">             
    </div>  
    <p><a href="/">
        <img class = "home" src = "./static/images/home.svg"/>
    </a></p>
</body>
</html>
